[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
curlify = "*"
flask = "*"
pytest = "*"
python-dotenv = "*"
responses = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.10"
